body {
    font-family: "Monaco", monospace;
    background-color:  #d5d4e3;
    color: rgb(2, 2, 2);
}

#intro {
	padding: 10px;
}

header {
    background-color: #040404;
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

header nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

#visualization {
    width: 50%;
    height: 250px;
    background-color: #000;
	justify-content: center;
	margin-left: auto;
    margin-right: auto;
}